################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ObservableSaga
/ObservableSaga/bin/Debug/netcoreapp2.2
/ObservableSaga/obj
/ObservableSaga/ObserableSaga/.vs
/.learningtransport/TestObservableSaga
